<form action="/users/reset-password-email" method="POST" style="display: flex;flex-direction: column;width: 50%;">
    <input style="margin-bottom: 10px;margin-top: 10px;width: 300px;" type="email" name="email" placeholder="Enter your email">
    <input type="submit" style="width: 300px;">
</form>