<% if(reset_password_token.isValid){%> 
    <form action="/users/reset-password/?accessToken=<%=reset_password_token.accessToken%>" method="POST" style="width: 300px;height: 400px;display: flex;flex-direction: column;align-items: center;">
        <input type="password" name="password" placeholder="Enter password" style="width: 100%;margin: 10px;">
        <input type="password" name="confirm_password" placeholder="Confirm password" style="width: 100%;margin: 10px;">
        <input type="submit" value="Reset Password">
    </form>
    <%} else {%>
        <span style="font-size: large;font-weight: bold;">
            Your token has expired
        </span>
        <%}%>