<form action="/users/create-session" method="POST" style="display: flex;flex-direction: column;width: 40%;padding: 20px;">
    <input type="email" name="email" placeholder="email" style="margin-bottom: 10px;" >
    <input type="password" name="password" placeholder="Password" style="margin-bottom: 10px;">
    <input type="submit" value="Sign In" style="width: 60px;">
</form>

<p>
    <a href="/users/auth/google" style="text-decoration: none;padding: 10px;border: 1px solid skyblue;" >
        <img src="https://www.flaticon.com/svg/vstatic/svg/2702/2702602.svg?token=exp=1614755101~hmac=d7fbece74c774f9a33275826f4da13a7" alt="google logo" width="30px" style="margin-right:5px;margin-top: 5px;">
        Google Sign In/Sign Up</a>
</p>
<p>
    <a href="/users/forget-password">Forget Password</a>
</p>