#home-container{
    display: flex;
    justify-content: space-between;

    #users-container{
        width: 20%;
        padding: 20px;
        border-right: 1px solid black;
    }

    #feed-posts{
        width: 50%;
        padding: 20px;
    }
    #user-friends{
        width: 30%;
        padding: 20px;
        height: 100%;
        border-left: 1px solid black;
    }
}