body {
  margin: 0;
  background-color: aliceblue;
  position: relative; }

#layout-body-content {
  height: 90%;
  position: relative; }

.image-style {
  border: 1px solid black;
  box-shadow: 10px 10px 8px #888888; }

#user-chat-box {
  height: 300px;
  width: 300px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1px dashed black;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #chat-messages-list {
    height: 70%;
    list-style: none; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 10px;
        background-color: silver; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 10px;
        background-color: goldenrod; }
  #user-chat-box #chat-message-input-container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      width: 70%;
      height: 60%; }
    #user-chat-box #chat-message-input-container #send-message {
      width: 30%;
      height: 60%; }

#footer {
  position: absolute;
  background-color: lightgrey;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5em; }

.toggle-like-button {
  text-decoration: none;
  color: black; }

#previous-link {
  text-decoration: none;
  font-size: larger;
  border: 0.5px solid black;
  background-color: burlywood;
  margin-right: 20px;
  padding: 10px; }

#next-link {
  text-decoration: none;
  font-size: larger;
  border: 0.5px solid black;
  background-color: burlywood;
  padding: 10px; }
